@use "styles/mixins";
@use "styles/variables";

.list {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-24;

  &__items {
    @include mixins.gridContainer();
  }
  &__title {
    display: flex;
    gap: variables.$spacing-20;
  }
  &__totalProducts {
    vertical-align: text-top;
  }
}
