@use "styles/variables";

.wrapper {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: variables.$spacing-40;
  justify-content: space-between;

  @media screen and (width <= variables.$breakpoint-l) {
    grid-template-columns: 1fr;
  }
}

.image {
  width: 100%;
  height: 500px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-20;
}

.description {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-8;
}

.buttons {
  display: flex;
  gap: variables.$spacing-16;
  margin-top: 12px;
}
