@use "styles/variables";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: variables.$spacing-12;

  @media screen and (width <= variables.$breakpoint-s) {
    gap: variables.$spacing-8;
    flex-wrap: wrap;
  }

  &__dots {
    padding-block: calc(#{variables.$spacing-12} + 2px);
  }
  &__btn {
    padding: variables.$spacing-8;
    padding-bottom: calc(#{variables.$spacing-4} - 2px);
  }
}
