@use "./variables";

@mixin container($margin-block: 0) {
  max-width: 1240px;
  margin: $margin-block auto;
  @content;

  @media screen and (width < variables.$breakpoint-xl) {
    padding-inline: variables.$spacing-20;
  }
}

@mixin gridContainer() {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: space-between;
  gap: 80px 10px;
  width: 100%;

  @media screen and (width <= variables.$breakpoint-xl) {
    & {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: variables.$spacing-20;
    }
  }
}

@mixin fluid-font(
  $min-size,
  $max-size,
  $min-width: variables.$breakpoint-s,
  $max-width: variables.$breakpoint-xl
) {
  $slope: calc(($max-size - $min-size) / ($max-width - $min-width));
  $intercept: $min-size - $slope * $min-width;

  font-size: clamp(
    #{$min-size},
    calc(#{$intercept} + #{$slope * 100}vw),
    #{$max-size}
  );
}

@mixin square($size) {
  width: $size;
  height: $size;
}

// @mixin media-max-width($breakpoint) {
//   @media screen and (width <= $breakpoint) or (max-width: $breakpoint) {
//     @content;
//   }
// }
