$back-color: #fafafa;
$back-color-second: #ffffff;

$accent-color: #518581;
$accent-color-light: #86aaa7;
$accent-color-dark: #487773;

$primary-color: #000000;
$secondary-color: #afadb5;

$disabled-color: #d9d9d9;

$white: #ffffff;

$border-radius: 0px;

$shadow: 0 4px 10px
  rgba(
    $color: $primary-color,
    $alpha: 0.25,
  );

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-40: 40px;

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1440px;
