@use "styles/mixins";
@use "styles/variables";

.header {
  width: 100%;
  background-color: variables.$back-color-second;
  padding-block: variables.$spacing-12;
  border-bottom: 2px solid
    color-mix(
      in srgb,
      variables.$secondary-color,
      variables.$back-color-second 80%
    );

  &__container {
    @include mixins.container() {
      display: grid;
      grid-template-columns: 3fr 10fr 3fr;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    justify-content: flex-start;
  }
  @media screen and (width < variables.$breakpoint-s) {
    &__logo {
      *:not(img) {
        display: none;
      }
    }
  }
  &__navigation {
    justify-content: center;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: variables.$spacing-12;

    @media screen and (width < variables.$breakpoint-s) {
      flex-direction: column;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: variables.$spacing-12;

    & * {
      cursor: pointer;
    }
  }
}
