@use "./styles/variables";

:root {
  color-scheme: light dark;
  color: variables.$primary-color;
  background-color: variables.$back-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --skeleton-base-color: #{variables.$disabled-color} !important;
  --skeleton-highlight-color: #{variables.$secondary-color} !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: variables.$primary-color;
}

html {
  scrollbar-gutter: stable;
}

ul {
  list-style: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  -webkit-overflow-scrolling: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}
